# TODO: all units to env vars
# Keyboard Layout
setxkbmap -layout us,ru -option grp:win_space_toggle &

# Xorg configuring
# TODO: devises to env vars
xinput --set-prop "ELAN2301:00 04F3:306B Touchpad" "libinput Tapping Enabled" 1 &
xinput --set-prop "ELAN2301:00 04F3:306B Touchpad" "libinput Natural Scrolling Enabled" 1

export DESKTOP_SESSION=plasma
exec startplasma-x11
